
/* CABECERA - MENU */

ul{
    background-color: rgb(230, 230, 230);
    border-bottom: solid rgb(252, 192, 70) 8px;
    display: flex;
    padding: 8px;  /*ancho del fondo*/
    margin: -8px; /*para que se pegue a los bordes de la pantalla*/
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

li{
    list-style: none;
    padding: 45px;
   
}

a{
    text-decoration: none;
    color: rgb(215, 28, 28);
    padding: 0px;

}

a:hover{
    color:rgb(77, 77, 77);
    font-size: 21px;
    text-decoration: none;
}


img{
    margin-right: 35px;
    margin-top: auto;
}


/* CUERPO */

div {
    border: solid 2px rgb(215, 28, 28);
    background-color: rgb(245, 245, 245);
    width: 1000px; /*tamaño*/
    margin: 15px; /*separacion entre divs*/
    padding-left: 50px; /*separacion del contenido con el borde del div*/
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

h4 {
    color: rgb(207, 38, 38);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large; 
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* puedo poner 
h1, h4 {
} 
si quiero que varios tengan los mismos estilos*/

/*felxbox*/
.contenedorPadre{
    display: flex;
    /*flex-direction: row, row-reverse, column, column-reverse;*/
    flex-wrap: wrap; /**/
}



/* FOOTER */
footer{
    background: linear-gradient(to bottom, rgb(75, 75, 75), rgb(57, 57, 57));
    border-top: solid rgb(252, 192, 70) 8px;
    padding: 40px;
    margin: -8px;
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: relative;
}

img.logoFooter{
    position: absolute;
    right: 0;
    bottom: 0;
}
    
p{
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}